
<h1><div class="center">Welcome to Sunrisebnb</div></h1>

<!--

<style>

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.center {
  padding: 200px 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #ff9900;
  text-align: center;
}
</style>
-->