Listings

  <ul>
  <% @listing.each do |listing| %>
    <li>
    Listing name: <%= listing.listing_name %><br>
    Description: <%= listing.description %><br>
    Price: <%= listing.price %><br>
    </li>
  <% end %>
</ul>