<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <title> Sunrisebnb</title>
</head>
  <body>
    <nav id="navbar">
  <img class = "logo-image" src="https://images.vexels.com/media/users/3/142840/isolated/preview/e2c144d99bfbe0a7dd00ccf3dcf4ca0d-sunrise-logo.png">
</a>
    <header class="nav-header">Sunrise BnB</header>
    <a class="nav-link" href="/">
      <div class="nav-box">Home</div>  
    </a> 
  <a class="nav-link" href="/">
      <div class="nav-box">Sign out</div>  
    </a>   
  </nav>
  <body>
  <div class="form-container" id="form">
      <div class="form-header">
        <img src="https://images.vexels.com/media/users/3/142840/isolated/preview/e2c144d99bfbe0a7dd00ccf3dcf4ca0d-sunrise-logo.png">
        <h2> Login below</h2>
<form action='/sessions' method= 'post'>
<p>
<label for="email">Enter your email address</label>
<input type='email' name='email' class="form-control">
</p>
<p>
<label for="email">Enter your password</label>
<input type='password' name='password' class="form-control">
</p>
<p>
<input type='submit' value='Sign in' class="form-control">
</p>
</form>
</body>
</html>
