<form action='/sessions' method= 'post'>
<label for="email">Enter your email address</label>
<input type='email' name='email'>
<label for="email">Enter your password</label>
<input type='password' name='password'>
<input type='submit' value='Sign in'>
</form>
