<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <title> Sunrisebnb</title>
</head>
  <body>
    <nav id="navbar">
  <img class = "logo-image" src="https://images.vexels.com/media/users/3/142840/isolated/preview/e2c144d99bfbe0a7dd00ccf3dcf4ca0d-sunrise-logo.png">
</a>
    <header class="nav-header">Sunrise BnB</header>
    <a class="nav-link" href="/">
      <div class="nav-box">Home</div>  
    </a> 
  <a class="nav-link" href="/sessions/new">
      <div class="nav-box">Sign in</div>  
    </a>   
  </nav>
    <div class="form-container" id="form">
      <div class="form-header">
        <img src="https://images.vexels.com/media/users/3/142840/isolated/preview/e2c144d99bfbe0a7dd00ccf3dcf4ca0d-sunrise-logo.png">
        <h2> Sign up below</h2>
       <form action="/users"  method="post">
  <p>
    <label for="username">Username</label>
    <input type="text" name= "username" class="form-control"/>
  </p>

  <p>
    <label for="email">Email</label>
    <input type="email" placeholder="example@example.com" name="email" class="form-control"/>
  </p>

  <p>

    <label for="password">Enter your password, try and make it unique!</label>
    <input type="password" name="password" class="form-control"/>

  </p>

  <p>
    <input type="submit" value="Submit" class="button"/>
  </p>

</form>
  </body>
</html>