<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <title> Sunrisebnb</title>
</head>
  <body>
    <nav id="navbar">
  <img class = "logo-image" src="https://images.vexels.com/media/users/3/142840/isolated/preview/e2c144d99bfbe0a7dd00ccf3dcf4ca0d-sunrise-logo.png">
</a>
    <header class="nav-header">Sunrise BnB</header>
   <a class="nav-link" href="/">
      <div class="nav-box">Home</div>  
    </a> 
    <a class="nav-link" href="/listings/new">
      <div class="nav-box">New listing</div>  
    </a> 
    <a class="nav-link" href="/listings">
      <div class="nav-box">Listings</div>  
    </a> 
    <a class="nav-link" href="/sessions/destroy" method="post">
      <div class="nav-box">Sign out</div>  
    </a>   
  </nav>

<h1> Hello <%=@username %>, Welcome to sunrise bnb </h1>

</body>
</html>